@charset "UTF-8";

#boardRead{
	float:right;
	margin-right:150px;
	margin-top:100px;
}
#boardTool{
	float:right;
}



.CommentWriter {
    margin: 12px 0px 29px;
    padding: 16px 10px 10px 18px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    box-sizing: border-box;
}
.CommentWriter .comment_inbox_name {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 13px;
}